// Typography
@use '../abstracts' as *;

// # Basics
html {
  font-size: $font__size;
}
body {
  font-family: $font__family;
}

// # Headings | paragraphs | etc..
h1 {
  font-size: 3.5rem;
  @include media($br-4) {
    font-size: 1.75rem;
  }
}
h2 {
  font-size: 2rem;
  font-weight: 700;

  letter-spacing: 0.75rem;
  line-height: 2.25rem;
  text-transform: uppercase;
}
h3 {
  font-size: 1rem;
}
p {
  font-weight: 700;
}
button {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 1rem;
  font-weight: 700;
}

// # Icons
i {
}
