// Variables

// # Colors

// ## Primary
$primary__light: hsl(172, 67%, 45%);

// ## Neutral
$neutral__darker: hsl(183, 100%, 15%);
$neutral__dark: hsl(186, 14%, 43%);
$neutral: hsl(184, 14%, 56%);
$neutral__light: hsl(185, 41%, 84%);
$neutral__lighter: hsl(189, 41%, 97%);
$neutral__lightest: hsl(0, 0%, 100%);

// # Typography
$font__size: 16px;
$font__family: 'Space Mono', monospace; // 400, 700

// # Others
$fixed__width: 62.5rem;
$fixed__height: 31.25rem;
$inner__content__dims: 28.125rem;
$x-sml__spacing: 0.25rem;
$sml__spacing: 1rem;
$med__spacing: 2rem;
$lrg__spacing: 5rem;
$sml__radius: 0.3rem;
$med__radius: 0.65rem;

// # Transitions
$dur: 0.25s;
$eff: cubic-bezier(0.65, 0.05, 0.36, 1); // easeInOutCubic
$tr: $dur $eff;

// # Breakpoints
$br-1: 1200;
$br-2: 1024;
$br-3: 768;
$br-4: 480;
