@use '../abstracts' as *;
@use '../core' as *;
// Main

body {
  background: $neutral__light;
}
header {
  width: 100%;
  @include flex-row(center);

  margin-top: $lrg__spacing;
  h2 {
    color: $neutral__dark;
  }
}
#container {
  width: $fixed__width;
  height: $fixed__height;
  background: $neutral__lightest;

  margin: $lrg__spacing auto;
  border-radius: $med__radius;

  @include flex-row(space-around, center);

  @include media($br-2) {
    @include flex-col(center, center);
    width: $fixed__width / 1.5;
    height: $fixed__height * 2;
  }
  @include media($br-3) {
    @include flex-col(center, center);
    width: $fixed__width / 2;
    height: $fixed__height * 2;
  }
  @include media($br-4) {
    @include flex-col(center, center);
    width: $fixed__width / 3.5;
    height: $fixed__height * 2;
  }
  & > section {
    width: $inner__content__dims;
    height: $inner__content__dims;
    border-radius: $med__radius;
    @include media($br-4) {
      width: $inner__content__dims / 2;
      height: $inner__content__dims * 1.5;
    }
  }
}
#input {
  @include flex-col(space-around); //!

  padding: $med__spacing;

  @include media($br-2) {
    text-align: center;
  }
  & > * {
    position: relative;

    &:not(:nth-last-of-type(1)) {
      margin-bottom: $med__spacing;
      @include media($br-4) {
        margin-bottom: $sml__spacing;
      }
    }
    & h3 {
      color: $neutral__dark;
    }
    & input {
      width: 100%;
      border-radius: $sml__radius;
      background: $neutral__lighter;
      color: $neutral__dark;
      @include input-reset();
      padding: 0 $sml__spacing;
      margin: $sml__spacing 0;
      font-size: 1.5rem;
      border: 1px solid transparent;
      text-align: right;
      appearance: textfield;

      &:focus {
        border-color: $primary__light;
      }
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
    }
    & img {
      position: absolute;
      top: 57.5%;
      left: 1rem;
    }
  }
  .tip {
    h3 {
      margin-bottom: $sml__spacing;
    }
  }
  .tips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.75rem;

    @include media($br-4) {
      grid-template-columns: repeat(1, 1fr);
      place-content: center;
      grid-gap: $x-sml__spacing;
    }
    $count: 0;
    @while $count < 7 {
      // Animated class
      .activeTip {
        background: $primary__light;
        color: $neutral__darker;
      }

      .tip-#{$count} {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        border-radius: $sml__radius;
        padding: 0.5rem;
        cursor: pointer;

        @if ($count == 6) {
          background: $neutral__lighter;
          letter-spacing: 0.15rem;
          font-weight: 400;
          &::placeholder {
            color: $neutral__dark;
          }
          @include input-reset();
          text-align: center;
          appearance: textfield;

          @include media($br-4) {
            font-size: 1rem;
          }
        } @else {
          transition: all $tr;
          background: $neutral__darker;
          color: $neutral__lightest;
          &:hover {
            background: $neutral__light;
            color: $neutral__darker;
          }
        }
      }
      $count: $count + 1;
    }
  }
  .number-of-people {
    position: relative;
    small {
      color: red;
      position: absolute;
      bottom: -1.25rem;
      right: 0;
      font-weight: 400;
      letter-spacing: 0.15rem;
      opacity: 0;
    }
  }
}
#result {
  background: $neutral__darker;

  @include flex-col(space-around);
  @include media($br-4) {
    margin: $sml__spacing;
    justify-content: space-evenly;
  }
  .price {
    .first-row {
      @extend .second-row;
      margin-top: -$lrg__spacing + $sml__spacing;
    }
    .second-row {
      @include flex-row(space-between, center);
      @include media($br-4) {
        @include flex-col(space-between, center);
      }
      padding: {
        top: 0.5rem;
        left: 2rem;
        right: 2rem;
      }
      .txt {
        h3 {
          color: $neutral__lighter;
        }
        p {
          color: $neutral;
        }
      }
      .num {
        color: $primary__light;
        .dollar {
          font-size: 2.25rem;
        }
      }
    }
  }
  button {
    width: 85%;
    height: 3rem;
    border-radius: $sml__radius;
    margin: -3rem auto;
    transition: all $tr;
  }
  button.enabled {
    background: $primary__light;
    color: $neutral__darker;
    cursor: pointer;
    pointer-events: all;
    &:hover {
      background: $neutral__light;
      color: $neutral__darker;
      transform: scaleX(1.05);
    }
  }
  button.disabled {
    background: $neutral;
    color: $neutral__darker;
    pointer-events: none;
  }
}
